<section>
  <h1>Admin Dashboard</h1>
  <ul class="checklist">
    <li><a class="link" href="/admin/registrations">View registrations</a></li>
    <li><a class="link" href="/admin/messages">View messages</a></li>
    <li><a class="link" href="/admin/uploads">View proof uploads</a></li>
  </ul>
</section>
